.Blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.FullPost {
    width: 90%;
    /* border: 1px solid black; */
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    justify-content: center;
}

.NewPost {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px auto;
}