.Blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Blog ul {
    list-style: none;
    /* background: red; */
    margin: 0;
    padding: 0;
}

.Blog ul li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 1.2em;
}

.Blog ul li a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}

.Blog ul li a:hover,
.Blog ul li a:active {
    color: #fa932f;
}

.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.FullPost {
    width: 90%;
    /* border: 1px solid black; */
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    justify-content: center;
}
